# Copy to .env but replace placeholders with actual values
MGIK_NEWS_URL=https://example.com/api
MGIK_HEADERS={ "User-Agent": "Mozilla/5.0 (X11; Linux x86_64; rv:131.0) Gecko/20100101 Firefox/131.0", "Accept": "application/json, text/plain, */*", "Accept-Language": "en-US,en;q=0.5", "Accept-Encoding": "gzip, deflate, br", "Referer": "https://www.mosgorizbirkom.ru/", "Connection": "keep-alive", "Sec-Fetch-Dest": "empty", "Sec-Fetch-Mode": "cors", "Sec-Fetch-Site": "same-origin", "DNT": "1"}
MGIK_DB_PATH=/path/to/database.db

# Proxy settings will be applied if proxy_host and proxy_port and proxy_user and proxy_pass
MGIK_PROXY_HOST=proxy.example.com
MGIK_PROXY_PORT=1080
MGIK_PROXY_USER=username
MGIK_PROXY_PASS=password123

REQUEST_TIMEOUT=30
